<template>
    <div class="columns">
        <div class="column" :style="{backgroundColor: color}">
            <p>{{ color }}</p>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {

        }
    },
    props:['color']
}
</script>

<style>
.column {
    width: 30%;
    height: 20%;
    float: left;
    margin-left: 2.5%;
    margin-top: 2.5%;
}
p {
    text-align:center;
}
</style>
