<template>
    <div>
        <div v-for="color in colors" :key="color">
        <child :color="color"></child>
        </div>
    </div>
</template>

<script>
import child from './child.vue'

export default {
    data() {
        return {
            colors: ["green", "yellow", "red", "blue", "brown", "orange"]
        }
    },
    components: {
        'child': child
    }
}
</script>

<style>

</style>
