<template>
  <div  id="app">  
        <div class="container">
                <h1> Task-8</h1>
            Rs.<input type="text"  v-model="rupees"><br/><br/>
            $  <input type="text" v-model="doller"><br/>
        </div>
  </div>
</template>

<script>
export default {
    name:'app',
    data() {
      return{
        rupees:1,
        doller:69
      }
  },
  watch:{
          rupees: function(value){
          this.rupees=value;
          this.doller=value*69;
           },
          doller: function(value){
          this.doller=value;
          this.rupees=value/69;
          }       
  }
}
</script>

<style>

</style>
