<template>
    <div>
        <input v-model="message" placeholder="enter any number">
            <p v-for="num in nums" :key="num">Multiplication:{{ message * num}}</p>
    </div>
</template>

<script>
export default {
    data() {
        return {
            message: '9',
            nums: [1,2,3,4,5,6,7,8,9,10]
        }
    }
}
</script>

<style>

</style>
