<template>
    <div>
        <ul>
            <li v-for="num in nums" :key="num">{{ num }}</li>
        </ul>
    </div>
</template>

<script>
export default {
    data(){
        return {
            nums: [1,2,3,4,5]
        }
    }
}
</script>

<style>

</style>
