<template>
    <div>
        <div v-for="age in ages"  :key="age"> 
            <p v-if="age > 50">{{ age }} is not eligible</p>
            <p v-else>{{ age }}  eligible</p>
        </div>
      
    </div>
</template>

<script>
export default {
    data(){
        return {
            ages: [65,63,45,20]
        }
    }
}
</script>

<style>

</style>
