<template>
    <div>
        <a v-for="website in websites" :key="website.name" href="website.link">{{website.name}}</a>
    </div>
</template>

<script>
export default {
    data(){
        return {
            websites: [
            {name:'google', link:'https://www.google.com/'},
            {name:'facebook', link:'https://www.facebook.com/'},
            {name:'youtube', link:'https://www.youtube.com/'}
            ]
        }
    }
}
</script>

<style scoped>

</style>
