<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
import task1 from './components/task1.vue'
import task2 from './components/task2.vue'
import task3 from './components/task3.vue'
import task4 from './components/task4.vue'
import parent from './components/task5/parent.vue'
import parent1 from './components/task6/parent1.vue'
import task7 from './components/task7.vue'

export default {
  name: 'app',
  data () {
    return {

    }
  },
  components: {
    'task1': task1,
    'task2': task2,
    'task3': task3,
    'task4': task4,
    'parent': parent,
    'parent1': parent1,
    'task7': task7
  }
}
</script>

<style>

</style>
